@import url(http://fonts.googleapis.com/css?family=Lato);
html,body {
    padding: 20px;
    font-family: Lato;
    background-color: #D24D57;
}
.page {
    width: 300px;
    max-height: 570px;
    border: 1px solid #333;
    padding: 30px;
    background-color: #fff;
    border: none;
    border-radius: 2px;
}
#pic {
    padding: 80px;
    border: 1px solid #c7c7c7;
    font-size: 30px;
    border-radius: 2px;
}
#missingtitle {
    color: #FF3B30;
    font-size: 40px;
}
#info {
    font-size: 20px;
}